@media screen and (min-width:200px) and (max-width:769px){
    header .links{
        display: none;
    }

    footer {
        height: 15vh;
        flex-direction: column;
    }

    footer .links h4{
        display: none;
    } 
    
    footer .creator a{
        width: 80px;
    }


    footer .copy{
        display: none;
    }

    footer .links{
        margin-right: 120px;
        width: 100px;
    }
}

@media screen and (min-width:770px) {
    header .wrapper .section .top_navbar .hamburger,
    header .wrapper{
/*         display: none; */
        visibility: hidden;
    }

    header .links{
        margin-right: 500px;
    }
}
